.content-form {
    height: 100vh;
}

.content-form .texto-paginas {
    padding: 10px 0px 5px 170px;
}

.content-form .texto-paginas a {
    color: #081552;
}

.content-form .texto-paginas a:hover {
    text-decoration: underline;
}

.content-form_container {
    width: 75%;
    height: 120vh;

    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(123, 130, 166, 0.30), -2px -2px 10px 0px rgba(123, 130, 166, 0.30);

    margin: auto;
}

.form-container_header {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #081552;
}

.form-container_header h1 {
    padding: 10px 20px;
}

.form-container_content {
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.form-container_content .form-principal {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 650px;
}

.form-container_content .form-principal .label-input {
    display: flex;
}

.search-bar-aluno, .search-bar-livro {
    display: block;
    position: absolute;
    margin-top: 50px;
    background-color: #f9f9f9;
    width: 237px;
    height: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow:auto;
    z-index: 1;
}

.search-bar-curso{
    display: block;
    position: absolute;
    margin-top: 190px;
    background-color: #f9f9f9;
    width: 237px;
    height: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow:auto;
    z-index: 1;
}

.search-bar-aluno ul, .search-bar-curso ul, .search-bar-livro ul {
    list-style: none;
    color: #081552;
    height: 20px;
}

.search-bar-aluno ul:hover, .search-bar-curso ul:hover, .search-bar-livro ul:hover {
    background-color: #f1f1f1;
}

.form-container_content .form-principal .label-form_principal {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.form-container_content .form-principal .label-form_principal label {
    margin-top: 25px;
    margin-right: 5px;
}

.form-container_content .form-principal .input-form_principal {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.form-container_content .form-principal .input-form_principal input {
    display: block;
    width: 230px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 15px;
    padding-left: 5px;
}

.form-container_content .input-secundario {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.content-form_container .input-secundario label {
    padding: 10px;
    margin-top: 30px;
}

.form-container_content .input-secundario textarea {
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 25px;
    width: 625px;
    resize: none;
}

.input-secundario .list-form-text {
    padding-left: 25px;
}

.input-secundario .form-text,
.list-form-text {
    color: #081552;
    font-size: 15px;
}

.form-checkbox {
    margin-top: 20px;
    font-size: 18px;
    color: #081552;
}

.form-checkbox label input {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    padding: 10px;
    margin-right: 10px;
}

.form-checkbox p {
    margin: 3px 25px;
    font-size: 12px;
}

.container-button-save {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container-button-save .button-save {
    background-color: #EC0B43;
    border-radius: 5px;
    padding: 10px 30px;
}

.container-button-save .button-save ul {
    list-style: none;
    display: flex;
    text-align: center;
    color: white;
    gap: 10px;
}